# Exclude TypeScript source files and maps
**/*.ts
**/*.map

# # Exclude test files and directories
# **/*.test.ts
# **/*.spec.ts
# **/test/

# Exclude documentation files
**/*.md

# Exclude local configuration files and folders
.vscode/
.git/
.gitignore


# Exclude node_modules (if you have it locally)
node_modules/

